body {
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover{
    text-decoration: none;
    color: white;
}

.grid-container {
    background-color: #252c35;
    color: #bdbfc1;
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    grid-gap: 10px;
    grid-template-columns: 2fr 50px 50px 50px 1fr;
    padding: 10px;
}

.coefficient {
    background-color: #11171f;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.versus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.right-group {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.detail {
    padding-left: 15px;
}

.playerOne {
    text-align: right;
    flex-grow: 2;
}

.active {
    color: white;
    font-weight: bold;
}

.markets {
    display: flex;
    background-color: #808080;
    color: #bdbfc1;
    justify-content: center;
    align-self: center;
    margin-bottom: 5px;
}

.odd-bgcolor {
    background-color: #37414f;
}

.even-bgcolor {
    background-color: #252c35;
}